<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Flyxrg\ValidateZipcode\Api\ZipcodeRepositoryInterface" type="Flyxrg\ValidateZipcode\Model\ZipcodeRepository" />
    <preference for="Flyxrg\ValidateZipcode\Api\Data\ZipcodeInterface" type="Flyxrg\ValidateZipcode\Model\Zipcode"/>
    <preference for="Flyxrg\ValidateZipcode\Api\Data\ZipcodeSearchResultsInterface"
            type="Flyxrg\ValidateZipcode\Model\ZipcodeSearchResults" />
					
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zipcode_directory_listing_data_source"
                        xsi:type="string">Flyxrg\ValidateZipcode\Model\ResourceModel\Zipcode\Collection</item>
            </argument>
        </arguments>
    </type>
	
	 <virtualType name="Flyxrg\ValidateZipcode\Model\ResourceModel\Zipcode\Collection"
            type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">directory_zipcode</argument>
            <argument name="resourceModel" xsi:type="string">Flyxrg\ValidateZipcode\Model\ResourceModel\Zipcode</argument>
        </arguments>
    </virtualType>
</config>